<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="/static/bootstrap-3.2.0-dist/css/bootstrap.css">
		<script language="JavaScript" type="text/javascript" src="/static/jquery-1.10.2.min.js"> </script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="/static/bootstrap-3.2.0-dist/js/bootstrap.min.js" ></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="/static/style.css" />
	</head>

	<body>

    {% block scripts %}{% endblock %}

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand" href="#">Menu</div>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Towary</a></li>
                        <li><a href="#">Kontrahenci</a> </li>
                        <li><a href="#">Sprzedaz</a> </li>
                        <li><a href="#">Statystyki</a></li>
                    </ul>
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <p class="navbar-text navbar-right">Zalogowany jako
                             <a href="#" class="navbar-link">{{ user.username }}</a>
                        </p>
                    {% else %}
                        <p class="navbar-text navbar-right">Niezalogowano</p>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container" >
            <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Strona nie prezentuje aktualnych danych. Prosze odswiezyc strone</div>
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    {% block modals %}

    {% endblock %}

    </body>

</html>
