{% extends "base_with_modal.html" %}
{% load templatetags %}
{% block content %}
<button id="add" type="button" class="btn btn-large">Dodaj kontrahenta</button>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th >Nazwa</th>
                <th >NIP</th>
                <th>Telefon</th>
                <th>Adres</th>
                <th>Rabat</th>
                <th >Aktywny</th>
                <th >Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in object_list %}
                <tr>
                    <td >{{ customer.name }}</td>
                    <td >{{ customer.nip }}</td>
                    <td>{{ customer.telNumber }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.discount }} %</td>
                    <td >{{ customer.isActive|is_active }}</td>
                    <td >
                        <div>
                        {% if customer.isActive %}
                            <a href="{% url 'customer_edit' customer.id %}" >Edytuj</a>
                            <a href="{% url 'customer_del' customer.id %}" >Usun</a>
                        {% endif %}
                        <a href="{% url 'customer_details' customer.id %}">Szczegoly</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div>
            <ul class="pager">
                <li class="previous {% if not page_obj.has_previous %} disabled {% endif %}" ><a href="{% if page_obj.has_previous %}{% url 'customer_list' page_obj.previous_page_number %} {% endif %}">&larr; Poprzednia strona</a></li>
                <li>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.</li>
                <li class="next {% if not page_obj.has_next %} disabled {% endif %}"><a href="{% if page_obj.has_next %}{% url 'customer_list' page_obj.next_page_number %} {% endif %}">Nastepna strona &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
</div>


{% endblock %}  
