{% extends "base.html" %}

{% block content %}
<div class="table">
    <div class="table-header table-entry">
        <div class="table-cell">Tytul</div>
        <div class="table-cell">Wartosc w %</div>
        <div class="table-cell">Aktywny</div>
        <div class="table-cell">Akcje</div>
    </div>
	{% for vat in object_list %}
		<div class="table-entry">
			<div class="table-cell">{{ vat.name }}</div>
			<div class="table-cell">{{ vat.percentage }}</div>
			<div class="table-cell">{{ vat.isActive }}</div>
			<div class="table-cell">
			    <div>
				<a href="{% url 'vat_edit' vat.id %}" >Edytuj</a>
				{% if vat.isActive %}
				    <a href="{% url 'vat_del' vat.id %}" >Usun</a>
				{% endif %}
			    </div>
			</div>
		</div>
	{% endfor %}
	<div class="clear-pagination">
	</div>
     
</div> 
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{% url 'vat_list' page_obj.previous_page_number %}">Poprzednia strona</a>
        {% endif %}
        <span class="page-current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="{% url 'vat_list' page_obj.next_page_number %}">Nastepna strona</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %} 
