{% extends "base_with_modal.html" %}
{% load templatetags %}
{% block content %}
<button id="add" type="button" class="btn btn-large">Dodaj stawke VAT</button>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tytul</th>
                <th>Wartosc</th>
                <th>Aktywny</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for vat in object_list %}
                <tr>
                    <td>{{ vat.name }}</td>
                    <td>{{ vat.percentage }}</td>
                    <td>{{ vat.isActive|is_active }}</td>
                    <td>
                        {% if vat.isActive %}
                        <div>
                            <a href="{% url 'vat_edit' vat.id %}" class="edit">Edytuj</a>
                            <a href="{% url 'vat_del' vat.id %}" data-confirm="Czy na pewno chcesz usunac {{ vat.name }}?">Usun</a>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div>
            <ul class="pager">
                <li class="previous {% if not page_obj.has_previous %} disabled {% endif %}" ><a href="{% if page_obj.has_previous %} {% url 'vat_list' page_obj.previous_page_number %} {% endif %}">&larr; Poprzednia strona</a></li>
                <li>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.</li>
                <li class="next {% if not page_obj.has_next %} disabled {% endif %}"><a href="{% if page_obj.has_next %} {% url 'vat_list' page_obj.next_page_number %} {% endif %}">Nastepna strona &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
</div>

{% endblock %}
